body {
    background-image: url(../public/Field_Background.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
/* COLORS */

--gainsboro: #cdddddff;
--razzmatazz: #db3069ff;
--orange-web: #ffa400ff;
--shadow: #7b7263ff;
--rich-black: #04080fff;
--cloud-dark: #f09e78;
--cloud-light: #FCD0AD;
--sky-blue: #3a929d;
--light-sky-blue: #6BAAB4;
--dark-forest: #687C48;
--light-forest: #7A8E59;

/* FONTS
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Ms Madi', cursive;
font-family: 'Oxygen', sans-serif;
*/

}


.name-banner {
    display: flex;
    justify-content: center;
    color: var(--gainsboro);
}

#name-banner-text {
    font-family: 'Oxygen', sans-serif;
    font-size: 3rem;
    margin-top: 2rem;
}

.link-boxes-div {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#linkedin {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 3rem;
    height: 3rem;
    box-shadow: var(--gainsboro) 0px 4px 10px;
    border-radius: 10%;
}

#linkedin:hover {
    box-shadow: rgb(10, 102, 194) 0px 4px 10px;
}

#github {
    background-color: var(--gainsboro);
    margin-top: 2rem;
    margin-left: 2rem;
    width: 3rem;
    height: 3rem;
    box-shadow: var(--gainsboro) 0px 4px 10px;
    border-radius: 50%;
}

#github:hover {
    box-shadow: var(--razzmatazz) 0px 4px 10px;
}

.link-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
}

#github-link {
    background-color: var(--gainsboro);
    border: 1px solid var(--shadow);
    border-radius: 5px;
    color: var(--rich-black);
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    width: 10vw;
}

.business-card-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    opacity: 0.3;
}

.business-card-div:hover {
    opacity: 1;
}

h1 {
    color: var(--gainsboro);
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
  }
  
  .word1 {
    font-family: 'montserrat alternates', sans-serif;
  }

  .word2 {

  }

  h1 span {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 40px;
    margin-left: 40px;
    font-weight:  800;
  }
  
  .message {

    background-color: var(--light-sky-blue);
    color: var(--rich-black);
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 270px;
    animation: openclose 7s ease-in-out infinite;
  }
  

  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 350px;
    }
    30% {
      top: 0.2rem;
      width: 350px;
    }
    33% {
      background-color: var(--orange-web);
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 400px;
    }
    62% {
      top: -4.5rem;
      width: 400px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
      background-color: var(--light-forest);
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 300px;
    }
    95% {
      top: -9rem;
      width: 300px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }