.light-mode {
  background-image: url(../public/Field_Background.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* COLORS */
  
  --gainsboro: #cdddddff;
  --razzmatazz: #db3069ff;
  --orange-web: #ffa400ff;
  --shadow: #7b7263ff;
  --rich-black: #04080fff;
  --cloud-dark: #f09e78;
  --cloud-light: #FCD0AD;
  --sky-blue: #3a929d;
  --light-sky-blue: #6BAAB4;
  --dark-forest: #687C48;
  --light-forest: #7A8E59;
  
  /* FONTS
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Ms Madi', cursive;
  font-family: 'Oxygen', sans-serif;
  */
}